BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
SortIncludes: false
ColumnLimit: 120
QualifierAlignment: Right
PointerAlignment: Left
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Preserve
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
FixNamespaceComments: false
SpaceBeforeCpp11BracedList: true
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: false
IndentExternBlock: Indent
ReflowComments: false
AlignTrailingComments: Leave
IndentCaseBlocks: true
IndentCaseLabels: true
BreakBinaryOperationsStyle: OnePerLine
